*{
    padding: 0;
    margin: 0;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #800080;
}

.price{
    font-weight: bolder;
    color: #724e27;
    margin-bottom: 10px;
    font-size: 1.4rem;
    text-align: center;
}


body{
    
    background-color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}

p{
    text-indent: 20px;
    text-align: justify;
    line-height: 20px;
    color: black;
}

.ofer-3 ul li{
    font-size: 1.1rem;
    color:#392714;
    list-style-type: none;
    margin-bottom: 0.8rem;
}
.container{
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
}


img{
    max-width: 100%;
}


/*HEADER*/
header{
    height: 15vh;
    background-color: rgba(128, 0, 128, 0.7);
}

/*menu*/


.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.navbar .logo{
    padding: 10px;
    height: 150px;
    width: 200px;
}

.navbar-links{
    display: flex;
    gap: 35px;
}

.navbar-links a{
    font-size: 20px;
    text-decoration: none;
    color: #1a001a;
    text-transform: uppercase;
    transition: color 0.5s ease;
}

.navbar-links a:hover{
    color: #ffccff;   
}

.navbar-search input{
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

/*KOLUMNY*/

.col{
    display:flex;
    flex-direction: row;
    margin: 20px 10px;
    padding: 10px;
    border-radius: 5px;
}

.col-s{
    flex: 0 0 30%;
}

.col-l{
    flex: 0 0 70%;
}


.ofer-3{
    border: 1px solid #cc00cc;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 15%;
}

.ofer-3:hover{
    transform: scale(1.1);
    transition-duration: 0.8s;
}

.col-2{
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 40%;
}


.fa-solid{
    padding-right: 5px;
}

.fa-check{
    color: green;
}

.fa-xmark{
    color: red;
}

.hot{
     border: 3px solid #cc00cc;
     
}

.listing-badges{
    position: relative;
    
}
.hot .listing-badges span{
    position: absolute;
    background-color: #cc00cc;
    top: 7px;
   left: -35px;
   width: 100px;
   rotate: -45deg;
   text-align: center;
   font-size: 1.2rem;
}


.ofer-3 a{
    color: #ffe6ff;
    display: block;
    text-align: center;
    margin-top:  1.5rem;
    text-decoration: none;
    background-color: #cc00cc;
    padding: 11px 20px;
    border-radius: 27px;
    justify-self: center;
}



/*FOOTER*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.7);
}

.footer .footer-columns{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-columns .footer-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.footer-section .footer-title{
    margin-bottom: 10px;
    border-bottom: 2px solid #1a001a;
}

.footer-section a{
    text-decoration: none;
    color: #ffccff;
    margin-bottom: 10px;
}

.footer-section a:hover{
    color: #800080;
}

.footer .social a{
    padding-right: 20px;
}

.footer .social a img{
    width: 40px;
    height: 40px;
}